* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body{
    font-family: 'Verdana', sans-serif;
}
textarea{
    font-family: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}