.card{
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
    width: 25%;
    position: relative;
    border-radius: 5px;
}
.wrap-card-options {
    position: absolute;
    top: -16px;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.card:hover .wrap-card-options {
    opacity: 1;
}
.card-options {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    text-indent: -999px;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.5);
    cursor: pointer;
}
.card_delete {
    background-image: url(../../images/delete.png);
    background-size: 80%;
    margin-right: 10px;
}
.card_edit{
    background-image: url(../../images/edit.png);
    background-repeat: no-repeat;
    background-size: 90%;
}
.card-content[contenteditable="true"] {
    outline: 2px dashed rgba(0, 0, 0, 0.5);
}
[data-color="first"] {
    background-color: #45AAEE;
}
[data-color="second"] {
    background-color: #FF1010;
}
[data-color="third"] {
    background-color: #76EF40;
}
[data-color="fourth"] {
    background-color: #EBEF40;
}
.isActive {
    border-width: 4px;
}