.header{
    background-color: #0082c7;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header-title {
    color: #B3DAEE;
    display: inline;
    vertical-align: middle;
}
.header-menu{
    float: right;
}
.header-button:first-child{
    margin-right: 15px;
}
.header-button {
    background-color: #006195;
    font-size: 16px;
    color: #FFF;
    box-sizing: content-box;
    height: 22px;
    padding: 8px; 
    display: inline-block; 
    border-radius: 5px;
}