.newCard {
    background-color: #C5C5C5;
    padding: 24px 127px ;
    margin-bottom: 40px;
}
.newCard-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 24px;
    padding: 10px;
    border: 1px solid #FFF;
    transition: height 0.3s linear,
                border 0.6s linear;
    border-radius: 5px;
}
.newCard-content:focus {
    height: 150px;
    border: 2px solid #0082c7;
}
.newCard-action {
    font-size: 16px;
    width: 84px;
    height: 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #8272C7;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}